* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

header {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 100px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
}
 
h1 {
    font-weight: bold;
}

.images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#bild1 {
    width: 273px;
    height: 182px;
} 

#bild2 {
    width: 342px;
    height: 228px;
} 

#bild3 {
    width: 216px;
    height: 324px;
} 

.medias {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    color: black;
    width:100%;
    font-size: 50px;
}

.fa {
    text-decoration: none;
    padding: 25px;
    width: 60px;
} 

  @media screen and (max-width: 500px){
    header {
        font-size: 50px;
    }

    #bild1 {
        width: 136,5px;
        height: 91px;
    } 
    
    #bild2 {
        width: 171px;
        height: 114px;
    } 
    
    #bild3 {
        width: 108px;
        height: 162px;
    } 

    .medias {
        font-size: 30px;
    }

    .fa {
        padding: 10px;
        width: 35px;
    }
}

@media screen and (max-height: 650px){
    header {
        font-size: 50px;
    }

    #bild1 {
        width: 136,5px;
        height: 91px;
    } 
    
    #bild2 {
        width: 171px;
        height: 114px;
    } 
    
    #bild3 {
        width: 108px;
        height: 162px;
    } 

    .medias {
        font-size: 30px;
    }

    .fa {
        padding: 10px;
        width: 35px;
    }
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }


