* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

header {
    text-align: center;
    color: black;
    font-family: "Arial";
    font-weight: bold;
    font-size: 100px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
}
 
h1 {
    font-family: "Arial";
    font-weight: bold;
}

h2 {
    font-family: "Times New Roman";
}

.medias {
    display: flex;
    position: fixed;
    justify-content: center;
    text-align: center;
    color: black;
    width:100%;
    bottom: 0;
    font-size: 50px;
}

.fa {
    text-decoration: none;
    padding: 25px;
    width: 60px;
} 

  @media screen and (max-width: 500px) {
    .medias {
        font-size: 30px;
    }

    .fa {
        padding: 10px;
        width: 35px;
    }
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }
  